[Unit]
Description=RunningService

[Service]
Restart=always
StartLimitInterval=0
RestartSec=2sec
ExecStart=pwsh.exe -noni -command c:/tmp/scriptforever.ps1
