[
  {dcos_net,
    [
      {dist_port, {{ dist_port }}},
      {epmd_port, {{ epmd_port }}},
      {is_master, false}
    ]
  },

  {dcos_rest,
    [
      {ip, {127, 0, 0, 1}},
      {port, {{ dcos_rest_port }}},
      {enable_rest, true}
    ]
  },

  {dcos_dns,
    [
      {enable_dns, true}
    ]
  },

  {dcos_l4lb,
    [
      {enable_lb, false},
      {enable_networking, false}
    ]
  },

  {dcos_overlay,
    [
      {enable_overlay, false}
    ]
  }
].