[
  {dcos_net, [
    {config_dir, "{{ config_dir }}"}
  ]},

  {dcos_dns, [
    {mesos_resolvers, []},
    {upstream_resolvers, {{ upstream_resolvers }}},
    {exhibitor_url, "{{ exhibitor_url }}"},
    {udp_port, 53},
    {tcp_port, 53},
    {bind_ips, [{192, 51, 100, 1}, {192, 51, 100, 2}, {192, 51, 100, 3}]}
  ]},

  {erldns, [
    {servers, [[
      {name, inet_localhost_1},
      {address, "127.0.0.1"},
      {port, 62053},
      {family, inet},
      {processes, 1}
    ]]},
    {use_root_hints, false},
    {catch_exceptions, false},
    {zones, "{{ dns_zones_file }}"},
    {pools, []}
  ]},

  {lashup, [
    {work_dir, "{{ lashup_dir }}"}
  ]},

  {mnesia, [
    {dir, "{{ mnesia_dir }}"},
    {dump_log_write_threshold, 10}
  ]},

  {telemetry, [
    {is_aggregator, false},
    {forward_metrics, false},
    {receive_metrics, false},
    {interval_seconds, 60},
    {splay_seconds, 20}
  ]},

  {kernel, [
    {start_pg2, true},
    {start_timer, true}
  ]},

  {lager, [
    {error_logger_hwm, 1000},
    {async_threshold, 1000},
    {log_root, "{{ dcos_root_dir }}"},
    {handlers, [
      {lager_console_backend, [
        {level, notice}
      ]},
      {lager_file_backend, [
        {file, "log\\error.log"},
        {level, notice},
        {formatter, lager_default_formatter},
        {formatter_config, [
          date, " ",
          time, " ",
          "[", severity, "] ",
          {pid, ""},
          {module, [
            {pid, ["@"], ""},
            module,
            {function, [":", function], ""},
            {line, [":",line], ""}
          ], ""},
          " ", message, "\n"
        ]}
      ]}
    ]}
  ]},

  {sasl, [
    {sasl_error_logger, {file, "{{ dcos_root_dir }}\\log\\sasl.log"}},
    {errlog_type, error},
    {error_logger_mf_dir, "{{ dcos_root_dir }}\\log\\sasl"},      % Log directory
    {error_logger_mf_maxbytes, 10485760},                         % 10 MB max file size
    {error_logger_mf_maxfiles, 5}                                 % 5 files max
  ]}
].
